div#fixheader{
	/*position: fixed;*/	
	width:80%;
	background:#0F0F0F;
	padding:20px;
	height: 180px;
	margin: auto;

}

body{
	background-color: #000;
}


div#logo{
	float: left;
	margin-right: 40px;
	
}

#menu{
	float: right;
	padding-right:20px;
}

#header{
	font-size: 2em;
	text-shadow: 2px 2px 8px #45FFBF;
	color:white;
	
}

.btn-menu{
	border: none;
	border-radius: 15px;
	padding: 10px 10px;
	font-size: 16px;
	background-color:  #57C482;
}

.btn-color{
	color:white;
}

.btn-color:hover{
	color:white;
	text-decoration:none;
}

.btn-menu:hover {
    background-color:#0F0F0F;
	color: white;
   
}


.registracija{
	
	margin:auto;
	width:450px;
	text-align: justify;
}


.label1{
	display: inline-block;
	width: 200px;
	
}

.input1{
	display: inline-block;
	width: 233px;
}

#pol{
	display: inline-block;
	width: 233px;
}
#delegat{
	display: inline-block;
	width: 233px;
}

.reg-potvrda{
	padding-top:20px;
	margin-left:142px;
	
}


footer{
	background:#0F0F0F;
	
}



.main-div{
	
	padding-top:20px;
	padding-bottom:40px;
	width: 80%;
	margin: 0 auto; 
	text-align:;
	height:100%;
	background-color:#0F0F0F;
	position:relative;
	overflow:auto;
	}



.right{
	
	float: right;
	width: 350px;
	margin-right:30px;
	position: relative;
	height:100%;
}

.main{	
	width: 650px;
	margin-left: 30px;
}


.slika-div{
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
	width: 220px;
}
.slika{
	width:220px;
}

.date{
	float:right;
	margin-top:-33px;
}
.vest{
	padding:5px 15px 10px 15px;
	height:150px;
	overflow: hidden;
	text-overflow: ellipsis; /*ne radi treba da budu ... */
	margin-bottom:30px;
	background-color: black; /* rgba(102,0,0,.8);*/
	color: white;
	
}
.main-div h1{
	text-align:center; 
	color:#57C482;
	font-size: 2em;
	margin-bottom: 30px;
}

.naslov:hover{
	color:white; 
	text-decoration:none;

}

.vest .naslov{
	color: #57C482;
	font-size: 0.7em;
}

.dogadjaj{
	padding:5px 15px 10px 15px;
	height:150px;
	overflow: hidden;
	text-overflow: ellipsis; /*ne radi treba da budu ... */
	margin-bottom:30px;
	background-color: black; 
	color: white;
	
}

.dogadjaj .naslov{
	color: #5395B1;
	font-size: 0.7em;
}



#jos-slika{
	position: absolute;
	right:65px; /* 350-220=130/2 */
	bottom:-22px;
	color: #57C482;
	text-decoration: none;
	
}

#jos-slika:hover{
	color:white;
}




/*galerija*/
.slike{
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	overflow:auto;
}

.slike .slika{
	margin-right: 20px;
	margin-bottom: 40px;
}