.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0; /* sakrij veliku galeriju na pocetku*/
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in; /* specifies a transition effect with a slow start*/
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 700px;
	position: relative;
	margin: auto;
	text-align:center;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	top:10%;
}

.close {
	position: absolute;
    top: 15px;
    right: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
	
}

.close:hover { background: #00d9ff; }


.modalDialog .slika{
	width: 80%;
    max-width: 560px;
	margin:auto;
	display:block;
}



.modalDialog .next,
.modalDialog .prev{
    display:block;
    text-decoration:none;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:22px;
    color:#858585;
    }
.prev {
    float:left;
    }
.next,
.close {
    float:right;
    }
.clear {
    display:block;
    clear:both;
    }